# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
*.env
venv/
env/
.venv/
# .env.example

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Migrations
*/migrations/*.py
*/migrations/*.pyc
!*/migrations/__init__.py

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
*~

# Coverage / testing
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Celery
celerybeat-schedule
celerybeat.pid

# Docker
*.pid
docker-compose.override.yml

# Local DB folders
postgres-data/
pgdata/
mongo-data/
redis-data/
data/

# Other
*.sqlite3
